@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.primaryMenu a.active{
color: var(--color-branding-success);
}

.bannerBg{
  background-image: url(/images/BG.png);
 background-repeat: no-repeat;
 background-size: cover;
}
.prevArrow,
.nextArrow{
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 45px;
height: 45px;
border-radius: 50%;
background-color: white;
font-size: 20px;
border: 1px solid var(--color-gray-400);
align-items: center;
justify-content: center;
cursor: pointer;
z-index: 100;
}
.prevArrow:hover,
.nextArrow:hover{
  background-color: var(--color-branding-success);
  color: #fff;
  border: var(--color-branding-success);
}
.prevArrow{
  left: 50px;
}
.nextArrow{
  right: 50px;
}

.swiper-pagination-bullet{
  background-color: var(--color-gren-gray-scale-200) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: var(--color-branding-success) !important;
  width: 30px;
  height: 10px;
  border-radius: 20px;
}
.bg-icon-bg {
  background-image: url("/images/bgIcon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#topCategory{
  background-image: url("/images/bg-3.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

#organicFood{
  background-image: url("/images/bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.counterBg{
  background-image: url("/images/countBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.breadcrumb{
  background-image: url("/images/breadcrum.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide-thumb-active img{
  opacity:1;
  transition: 0.3s opacity;
  outline: 3px solid var(--color-branding-success);
}